* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    background: #FF6900;
}

.clothes-product{
    width: 284px;
    height: 406px;
}

.nav-logo-container{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    min-height: 1000px;
}

.row-products{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col-products{
    flex-basis: calc((100% - 2rem) / 3);
    padding-bottom: 1rem;
    position: relative;
}

.price-product, .price-discount-product{
    display: inline-block;
}

.price-product{
    color: red;
}

.price-discount{
    text-decoration: line-through;
}

.pref-product{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pref-dimension{
    width: 50px;
    height: 50px;
    background: white;
}

.pref-product:hover{
    color:red;
}

.detail-prc-dsc{
    display: flex;
    justify-content: space-around;
    gap: .2rem;
    position: absolute;
    bottom: 110px;
    left: 0;
}

.symb-discount{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: .3rem .4rem;
}

.green-description-product{
    background: green;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 11px;
    padding: .3rem .4rem;
}

