* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 284px;
    height: 406px;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    min-height: 1000px;
}

.row-products{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col-products{
    flex-basis: calc((100% - 2rem) / 3);
    padding-bottom: 1rem;
    position: relative;
}

.price-product, .price-discount{
    display: inline-block;
}

.price-product{
    color: red;
}

.price-discount{
    text-decoration: line-through;
}

.pref-product{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pref-dimension{
    width: 50px;
    height: 50px;
    background: white;
}

